<div ng-controller="ctrlComment as app">
	<a href="/ctip/">
		<button class="btn btn-default">
			<span class="glyphicon glyphicon-step-backward"></span> Retour
		</button>
	</a>
	<br><br>
	<p>ID: <strong>{{bat.id_bat_dgeo}}</strong></p>
	<p>NOM: <strong>{{bat.nom_bat}}</strong></p>
	<p>COMMENTAIRE ACTUEL: <strong>{{bat.ctip_comment}}</strong></p>
	<p>
		<form class="form-inline">
			<input type="text" ng-model="bat.nouvComment">
			<button class="btn btn-primary"  ng-click="app.modifComment(bat)">Remplacer commentaire</button>
		</form>
	</p>
</div>
