<div ng-controller="ctrlEtablNomRelatif as app">
	<table class="table">
		<tr class="active">
			<td>NOM</td>
			<td>NOM RELATIF</td>
			<td></td>
		</tr>
		<tr ng-repeat="etabl in etabls">
			<td>{{etabl.nom_court}}</td>
			<td>{{etabl.ctip_nom_relatif}}</td>
			<td>
				<form class="form-inline">
					<input class="form-control" type="text" ng-model="etabl.nomRelatif">
					<button class="btn btn-primary" ng-click="app.modifNomRelatif(etabl)">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
				</form>
			</td>
		</tr>
	</table>
</div>
