<div ng-controller="ctrlEtablNomCourt as app">
	<a href="/ctip/">
		<button class="btn btn-default">
			<span class="glyphicon glyphicon-step-backward"></span> Retour
		</button>
	</a>
	<h3>Noms courts d'établissement</h3>
	<table class="table">
		<tr class="active">
			<td>NOM</td>
			<td>NOM COURT</td>
			<td></td>
		</tr>
		<tr ng-repeat="etabl in etabls">
			<td>{{etabl.nom_court}}</td>
			<td>{{etabl.ctip_nom_court}}</td>
			<td>
				<form class="form-inline">
					<input class="form-control" type="text" ng-model="etabl.nomCourt">
					<button class="btn btn-primary" ng-click="app.modifNomCourt(etabl)">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
				</form>
			</td>
		</tr>
	</table>
</div>
