<div ng-controller="ctrlNomCourt as app">
	<a href="/ctip/">
		<button class="btn btn-default">
			<span class="glyphicon glyphicon-step-backward"></span> Retour
		</button>
	</a>
	<br><br>
	<a href="/ctip/">
		<button class="btn btn-default">
			<span class="glyphicon glyphicon-step-backward"></span> Retour
		</button>
	</a>
	<p>ID: <strong>{{bat.id_bat}}</strong></p>
	<p>NOM: <strong>{{bat.nom_bat}}</strong></p>
	<p>NOM COURT ACTUEL: <strong>{{bat.ctip_bat_nom}}</strong></p>
	<p>
		<form class="form-inline">
			<input type="text" class="form-control" ng-model="bat.nouvNomCourt">
			<button class="btn btn-primary" ng-click="app.modifNomCourt(bat)">Remplacer nom court</button>
		</form>
	</p>
</div>
