<div ng-controller="ctrlRegNomCourt as app">
	<a href="/ctip/">
		<button class="btn btn-default">
			<span class="glyphicon glyphicon-step-backward"></span> Retour
		</button>
	</a>
	<br><br>
	<table class="table">
		<tr class="active">
			<td>NOM</td>
			<td>NOM COURT</td>
			<td></td>
		</tr>
		<tr ng-repeat="reg in regs">
			<td>{{reg.nom_reg}}</td>
			<td>{{reg.ctip_nom_reg}}</td>
			<td>
				<form class="form-inline">
					<input class="form-control" type="text" ng-model="reg.nomRegCtip">
					<button class="btn btn-primary" ng-click="app.modifNomCourt(reg)">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
				</form>
			</td>
		</tr>
	</table>
</div>
