<div ng-controller="ctrlBatEtabl">
	<a href="/">
		<button class="btn btn-default">
			<span class="glyphicon glyphicon-step-backward"></span> Retour
		</button>
	</a>
	<a href="/carte/{{idEtabl}}">
		<button class="btn btn-default">
			<span class="glyphicon glyphicon-map-marker"></span> Carte
		</button>
	</a>
	<br><br>
	<table class="table">
		<tr class="active">
			<td>ID</td>
			<td>NOM</td>
			<td>DIRECTION</td>
			<td></td>
		</tr>
		<tr ng-repeat="bat in bats">
			<td>{{bat.id_bat_dgeo}}</td>
			<td>{{bat.nom_bat}}</td>
			<td>
				<span style="font-size: 20px" ng-class="{'glyphicon glyphicon-home': bat.dir == 1}"></span>
			</td>
			<td>
				<a href="#/detail/{{idEtabl}}/{{bat.id_bat}}">
					<button class="btn btn-primary">Détail</button>
				</a>
			</td>
		</tr>
	</table>
</div>
