<br><br>
<form class="form-inline">
	<div ng-controller="ctrlEtabl as app">
		<label>Choisir un établissement:</label>
		<select name="id_etabl" class="form-control" ng-model="app.etb.idEtabl">
			<option ng-repeat="etabl in etabls" value="{{etabl.id_etabl}}">{{etabl.nom_court}}</option>
		</select>
		<input type="submit" 
			value="voir les bâtiments" 
			ng-click="app.choix(app.etb)" 
			class="btn btn-primary form-control"/>
	</div>
</form>
<br><br>
<p>Pour modifier les données de votre établissement, veuillez vous enregistrer en appuyant sur le bouton "Login" en haut à droite</p>
