<br><br>
<h3>Pour voir les bâtiments d'un établissement</h3>
<p>Choisir un établissement:</p>
<form class="form-inline">
	<div ng-controller="ctrlEtabl as app">
		<select name="id_etabl" class="form-control" ng-model="app.etb.idEtabl">
			<option ng-repeat="etabl in etabls" value="{{etabl.id_etabl}}">{{etabl.nom_court}}</option>
		</select>
		<button type="submit" 
			ng-click="app.choix(app.etb)" 
			class="btn btn-primary form-control">
			<span class="glyphicon glyphicon-eye-open"></span>
		</button>
	</div>
</form>
<br><br>
<h3>Pour modifier les données d'un établissement</h3>
<p>Veuillez vous enregistrer en appuyant sur le bouton "Login" en haut à droite</p>
