html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet" href="/lib/leaflet/leaflet.css")
		script(src="/lib/leaflet/leaflet.js")
	body
		div(id="map" style="height: 500px")
		script.
			var idEtabl = #{idEtabl};
			var map = L.map('map');
			L.tileLayer('https://{s}.tiles.mapbox.com/v3/dgeo-dop.hln6neni/{z}/{x}/{y}.png', {
				attribution: 'Fond de carte: <a href="http://www.openstreetmap.org"/>OpenStreetMap</a> / MapBox',
				key: 'BC9A493B41014CAABB98F0471D759707',
				styleId: 22677
			}).addTo(map);
			var group = L.featureGroup([]).addTo(map);
			var points =!{JSON.stringify(data)};
			for (var i = 0; i < points.length; i++) {
			marker = new L.marker(L.latLng([points[i].lat,points[i].lng]))
			.bindPopup('<b><a href="/#/detail/' + idEtabl + '/' + points[i].id_bat + '">' + points[i].nom_bat + '</a></b>')
			.addTo(group);
			}
			map.fitBounds(group.getBounds());
