form(action="/login" method="post")
	div
		label Username:
		select(name="username" class="form-control")
			- each etabl in etabls
				option(value="#{etabl.id_etabl}")
					= etabl.nom_court
	div
		label Password:
		input(type="password" name="password")
	div
		input(type="submit" value="Log In")

