<div>
	<div class="col-md-4">
		<h4>
			<a href="#/">
				Liste des bâtiments
			</a>
		</h4>
		<table ng-controller="ctrlBatEtabl" class="table table-condensed listbat">
			<tr ng-repeat="bat in bats">
				<td>
					<a href="#/{{bat.id_bat}}">
						<p>{{bat.nom_bat}}</p>
					</a>			
				</td>
			</tr>
		</table>
	</div>
	<div class="col-md-8">
		<h4>Ajouter ou supprimer un bâtiment</h4>
		<br>
		<a href="#/suppr_bat">
			<button class="btn btn-danger">
				<span class="glyphicon glyphicon-remove"> </span> Supprimer
			</button>
		</a>
		<br><br>
		<a href="#/ajout_bat">
			<button class="btn btn-success">
				<span class="glyphicon glyphicon-plus"> </span> Ajouter
			</button>
		</a>
		<br><br>
		<h4>Choisir le bâtiment de direction</h4>
		<br>
		<a href="#/dir">
			<button class="btn btn-primary">
				<span class="glyphicon glyphicon-home"> </span> Direction
			</button>
		</a>
	</div>
</div>

