<div ng-controller="ctrlBatEtabl">
	<h4>
		<a href="#/">
			Liste des bâtiments
		</a>
	</h4>
	<div class="col-md-4 listbat">
		<div ng-repeat="bat in bats">
			<a href="#/{{bat.id_bat}}">
				<p>{{bat.nom_bat}}</p>
			</a>
		</div>
	</div>
	<div class="col-md-8">
		<h4>Ajouter ou supprimer un bâtiment</h4>
		<br>
		<a href="#/suppr_bat">
			<button class="btn btn-danger">
				<span class="glyphicon glyphicon-remove"> </span> Supprimer
			</button>
		</a>
		<br><br>
		<a href="#/ajout_bat">
			<button class="btn btn-success">
				<span class="glyphicon glyphicon-plus"> </span> Ajouter
			</button>
		</a>
	</div>
</div>

