h3 a {
	text-decoration: none;
	color: #2E2E2E;
	font-size: 15px;
}
h2 a {
	text-decoration: none;
	color: #2E2E2E;
	font-size: 15px;
}

.listbat {
	background-color: #F5F5F5;
}

h4 a {
	text-decoration: none;
	color: #2E2E2E;
}

.listbat a {
	color: #707070 ;
	font-weight: bold;
}
